body {
    font-family: "Open Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", sans-serif !important;
}

p {
    font-family: "Open Sans", sans-serif !important;
}

.navbar-brand img {
    width: 70% !important;
}

.navbar {
    .navbar-collapse {
        .nav {
            a {
                line-height: 42px !important;
            }
        }
    }
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
    .navbar {
        .navbar-collapse {
            .nav {
                float: right;
                a {
                    i {
                        display: inline-block !important;
                    }
                }
            }
        }
    }
}