@import "variables.less";

body {
    font-family: @baseFont, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: @baseFont, sans-serif !important;
  text-align: center;
  margin-top: 40px;
}

p {
    font-family: @baseFont, sans-serif !important;
}

label {
    font-family: @baseFont, sans-serif !important;
}

.navbar {
    .navbar-collapse {
        .nav {
            a {
                line-height: 42px !important;
            }
        }
    }
}

.react-spinner {
    width: 100px !important;
    height: 100px !important;
    top: 100px !important;
    .react-spinner_bar {
        background-color: black;
    }
}

.hidden {
    display: none !important;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: gray;
}

.paging {
    margin-bottom: 20px;
    text-align: center;
    .page-title {
        font-size: 1.2em;
    }
}

.not-found {
    text-align: center;
    .title {
        font-size: 16em;
        font-weight: bold;
    }
    .sub-title {
        font-size: 1.5em;
    }
}

.page-selector-wrapper {
    width: 100px;
    margin-bottom: 10px;
}

.projects {
    .project-search-bar {
        margin-top: 40px;
    }
}

.search-bar {
    margin-top: 40px;
}

.filter {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Modal {
    .Modal-dialog {
        .Modal-content {
            .modal-body {
                padding: 20px 90px;
            }
            .modal-footer {
                padding-left: 20px;
                padding-right: 50px;
            }
        }
    }
}

.steps-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    .step {
        position: relative;
        &.step-finished {
            .icon {
                color: #D5EBCD;
            }
            .step-title {
                color: rgb(155, 155, 155);
            }
        }
        &.step-current {
            .icon {
                font-size: 1.2em;
            }
        }
        &.step-unfinished {
            color: rgb(155, 155, 155);
        }
        &:last-child {
            &:after {
                border: solid 0px black;
            }
        }
        .icon {
            margin-bottom: 10px;
        }
    }
}

.list {
    border-radius: 0;
    margin-bottom: 5px;
    .list-info {
        .title {
            display: inline-block;
            font-weight: bold;
            width: 120px;
        }
        .value {
            display: inline-block;
        }
    }
    .list-divider {
        border: solid 0.5px @hoverGray;
    }
    .list-actions {
        text-align: right;
        position: relative;
        top: 10px;
        float: right;
        .list-action {
            text-align: center;
            display: inline-block;
            margin-left: 40px;
            .fa {
                margin-bottom: 10px;
            }
            &:hover {
                cursor: pointer;
                color: @hoverGray;
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .navbar-brand img {
        width: 50% !important;
    }
    .steps-wrapper {
        .step {
            width: 60px;
            &:after {
                content: "";
                position: absolute;
                border-bottom: solid 2px rgba(155, 155, 155, 0.3);
                height: 5px;
                top: 10px;
                left: 50px;
                width: 75px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .steps-wrapper {
        .step {
            width: 80px;
            &:after {
                content: "";
                position: absolute;
                border-bottom: solid 2px rgba(155, 155, 155, 0.3);
                height: 5px;
                top: 10px;
                left: 62px;
                width: 130px;
            }
        }
    }
    .navbar-brand img {
        width: 70% !important;
    }
    .navbar {
        .navbar-collapse {
            .nav {
                float: right;
                a {
                    i {
                        display: inline-block !important;
                    }
                }
            }
        }
    }
}
