@import "variables.less";

body {
    font-family: @baseFont, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: @baseFont, sans-serif !important;
  text-align: center;
  margin-top: 40px;
}

p {
    font-family: @baseFont, sans-serif !important;
}

label {
    font-family: @baseFont, sans-serif !important;
}

.navbar-brand img {
    width: 70% !important;
}

.navbar {
    .navbar-collapse {
        .nav {
            a {
                line-height: 42px !important;
            }
        }
    }
}

.react-spinner {
    width: 100px !important;
    height: 100px !important;
    top: 100px !important;
    .react-spinner_bar {
        background-color: black;
    }
}

.hidden {
    display: none !important;
}

.not-found {
    text-align: center;
    .title {
        font-size: 16em;
        font-weight: bold;
    }
    .sub-title {
        font-size: 1.5em;
    }
}

.projects {
    .search-bar {
        margin-top: 40px;
    }
    .project-filter {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .project {
        border-radius: 0;
        margin-bottom: 5px;
        .project-info {
            .title {
                display: inline-block;
                font-weight: bold;
                width: 120px;
            }
            .value {
                display: inline-block;
            }
        }
        .project-divider {
            border: solid 0.5px @hoverGray;
        }
        .project-actions {
            text-align: right;
            position: relative;
            top: 10px;
            float: right;
            .project-action {
                text-align: center;
                display: inline-block;
                margin-left: 40px;
                .fa {
                    margin-bottom: 10px;
                }
                &:hover {
                    cursor: pointer;
                    color: @hoverGray;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
    .navbar {
        .navbar-collapse {
            .nav {
                float: right;
                a {
                    i {
                        display: inline-block !important;
                    }
                }
            }
        }
    }
}
