<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="REACT router">
                    <match url="^((\/)|(\w+))*$" />
                    <action type="Rewrite" url="/" />
                    <conditions>
                        <add input="{URL}" pattern="admin" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
